@import url('https://fonts.googleapis.com/css?family=Michroma&display=swap')

.nav-link {
    color: white;
}

.navbar-nav .nav-link.active {
    color: aquamarine;
}

.navbar-brand img {
    width: 40px;
}

.navbar-toggler {
    background-color: rgb(143, 142, 142);
}

body {
    background: linear-gradient(90deg, #9a0e0e 0%, #70dbff 100%);
    font-family: Michroma, serif;
}

.info_button {
    background-color: #9daedf;
}

.accordion-header .info_button_after_click {
    background-color: #9daedf;
}

.col-lg-4 {
    margin-bottom: 0.7em;
    margin-top: 0.7em;
}

/*Статичная правая панель*/
/*.col-lg-3 {*/
/*    position: fixed;*/
/*    left: 75%;*/
/*    top: 10.54%*/
/*}*/

.card {
    background: linear-gradient(270deg, #bee5f0 0%, #caffa3 100%);
}


.home_price {
    color: white;
}

.card a {
    text-decoration: none;
    color: black;
}



.home_price {
    color: white;
}

.ppp {
    color: white;
}
